body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #b0b3b7;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
header{
  background: #2b2a29;
  color: #aaa6a2;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #b74022 4px solid;
}
header a{
  color:#aaa6a2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 13px;
}
header .highlight, header .current a{
  color: #b74022;
  font-weight: bold;
}
header a:hover{
  color: #ff3535;
  font-weight: bold;
}
